

.navbar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: sticky;
    top: 0;
    width: 100%;
}
.navbar a{
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    float: left;
}
.navbar a:hover{
    background-color: #B90504;
}


.classtitle{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    top: 0;
    width: fit-content;
}
.classtitle a{

    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    float: left;
}
.classtitle a:hover{
    background-color: #B90504;
}




.active{
    background-color: #990100;
}
.spellfields{
    margin: 5px;
    padding: 14px 16px;
    background-color: #990100;
    overflow: hidden;
    align-self: center;
    width: 90%;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 15px;
    color: #F6F6F6;

}

.spell{
    margin: 5px;
    overflow: hidden;
    background-color: #333333;
    align-self: center;
    width: 90%;
    display: block;
    margin-left: 5%;
}
.spell a{
    padding: 14px 16px;
    text-align: left;
    text-decoration: none;
    float: left;
    width: 100%;
}
.spell a:hover{
    background-color: #B90504;
}

.spelllink{
    margin: 5px;

    overflow: hidden;
    background-color: #333333;
    align-self: center;
    width: 90%;
    display: block;
    margin-left: 5%;
}

.spelllink a{
    padding: 14px 16px;
    text-align: left;
    text-decoration: none;
    float: left;
    width: 100%;
}

.spelllink a:hover{
    background-color: #B90504;
}

.asname{
    position: absolute;
    width: 25%;
}

.aslevel{
    position: absolute;
    margin-left: 26%;
    text-align: center;
}

.ascastime{
    position: absolute;
    margin-left: 35%;
    text-align: center;
}

.asdurat{
    position: absolute;
    margin-left: 50%;
    text-align: center;
}

.asrange{
    position: absolute;
    margin-left: 67%;
    text-align: center;
}

.asdmg{
    margin-left: 87%;
    text-align: center;
}








a:link{
    color:#F6F6F6;
}
a:visited{
    color:#F6F6F6;
}
a:hover{
    color: #F6F6F6;
}
a:active{
    color: #F6F6F6;
}

h1{
    font-family: Modesto;
    font-weight: normal;
    font-style: normal;
    font-size: 6em;
    line-height: 1px;
}

h2{
    font-family: Modesto;
    font-weight: normal;
    font-style: normal;
    font-size: 4em;
    line-height: 0px;
}

p{
    font-family: Scaly Sans;
    font-weight: 400;
    font-style: normal;
}




/* these fonts have been recreated from the official fonts used in the D&D rulebooks, under a creative commons license, meaning as long as I am not charging for the use of the fonts I am allowed to use them. They were made specifically for projects like mine. */
@font-face{
    font-family: Scaly Sans;
    src: url(solbera-dnd-fonts-master/Scaly\ Sans/Scaly\ Sans.otf);
}
@font-face{
    font-family: Modesto;
    src: url(solbera-dnd-fonts-master/Nodesto\ Caps\ Condensed/Nodesto\ Caps\ Condensed.otf);
}
@font-face{
    font-family: Bookinsanity;
    src: url(solbera-dnd-fonts-master/Bookinsanity/Bookinsanity.otf);
}
@font-face{
    font-family: Mr Eaves;
    src: url(solbera-dnd-fonts-master/Mr\ Eaves/Mr\ Eaves\ Small\ Caps.otf);
}
@font-face{
    font-family: Scaly Sans Caps;
    src:url(solbera-dnd-fonts-master/Scaly\ Sans\ Caps/Scaly\ Sans\ Caps.otf)
}
@font-face{
    font-family: Zatanna Misdirection;
    src:url(solbera-dnd-fonts-master/Zatanna\ Misdirection/Zatanna\ Misdirection.otf)
}