{% extends "layout.html" %}

{% block content %}

    <p>This site is for my software engineering class for 2020</p>
    <br>
    <p> {# disclaimer #}
        This site is in no way endosed or sponsored by Wizards Of The Coast or their affiliates.
        Aliban's Arcanomicon is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. ©Wizards of the Coast LLC.
    </p>

{% endblock content %}