{% extends "layout.html" %}

{% block content %}

    <h1>Howdy</h1>
    <form method="POST" action="/about">
        <div class="form-group">
            <input type="text" name="var">
        </div>
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
    
    <br>
    
    Here's your Howdy: {{ var }}
    <br>

    <select id="select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <br>
    <p id="test">test</p>

    <br>

    {% for field in entfields %}
        <select name={{field}} method="POST" action="/about">
            <option value={{field[0]}} selected>{{field[0]}}</option>
            {% for term in field[1:] %}
                <option value={{field}}>{{term}}</option>
            {% endfor %}
        </select>
    {% endfor %}


{% endblock content %}