{% extends "layout.html" %}

{% block content %}

   
    <form method="POST" action="/search"> {# defining the form area for the form to gather data from #}
        {% for field in entfields %}

            <p>
            <b>{{ field[0] }}:</b> {# printing the field being searched #}
            {% for term in field[1:] %} {# making checkboxes for the values in the searched field. #}
                <input type="checkbox" name="param" value="{{field[0]}}_{{term}}">
                <label for={{term}}>{{ term }}</label>
            {% endfor %}
            </p>

        {% endfor %}
        <br>
        <input type="submit" value="Submit"> 
    </form>

    {% include "spelllist.html" %} {# this includes the template "spelllist.html". documentation of what it does is contained inside that file. #}


{% endblock content %}