{% extends "layout.html" %}

{% block content %}

    <input type="text" id="myInput" onkeyup="searchfilter()" placeholder="Search for spells...">
    <form method="POST" action="/search">
        {% for field in entfields %}
            <p>{{ field[0] }}</p>
            {% for term in field[1:] %}
                <input type="checkbox" name="param" value="{{field[0]}}_{{term}}">
                <label for={{term}}>{{ term }}</label>
            {% endfor %}
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>

    <div id="spells">
    {% for spell in spells %}
        <div class="spelllink">
            <a href="spell/{{ spell[0] }}">
                <span class= "asname">{{ spell[1] }}</span>
                <span class= "aslevel">{{ spell[2] }}</span>
                <span class= "ascastime">{{ spell[3] }}</span>
                <span class= "asdurat">{{ spell[4] }}</span>
                <span class= "asrange">{{ spell[5] }}</span>
                <span class= "asdmg">{{ spell[6] }}</span>
            </a>
        </div>
    {% endfor %}
    </div>

    <script>

        function searchfilter() {
            var input, filter, spellsraw, spells, spell, i, txtValue //defining variables
            input = document.getElementById('myInput'); //taking the input from the search bar
            filter = input.value.toUpperCase(); //making the intput case insensitive
            spellsraw = document.getElementById("spells") //getting information from the wanted div
            spells = spellsraw.getElementsByClassName("spelllink") //extracting contents, shoving them into a 'list'
            for (i = 0; i < spells.length; i++ ){ //looping through the list of contents
                spell = spells[i] //picking out the data for each iteration
                spell1 = spell.getElementsByClassName("asname") // getting the correct div so it doesn't compare the filter term to the text from all of the spans, only the span "asname"
                txtvalue = spell1[0].innerHTML //getting the actual text from the div
                if (txtvalue.toUpperCase().indexOf(filter) > -1){ //if the filter string exists in the div text,
                    spells[i].style.display = ""; //leave the div be
                } else { //if not,
                    spells[i].style.display = "none"; //hide it from sight!
                }
            }
        } //ooh curly closing brackets! why did i decide to use Javascript again?
    
        </script>
{% endblock content %}