{% extends "layout.html" %}

{% block content %}
<div id="content">
    <h2>
        {{ spell[1] }} 
        {% if spell[6] == 1 %}
            (ritual)
        {% endif %}
    </h2>
    A level {{ spell[3] }} {{ spell[11] }}
    <br>
    components: {{ spell[4] }} <br>
    range: {{ spell[8] }} <br>
    duration: 
    {% if spell[5] == 1 %}
        up to 
    {% endif %}
    {{ spell[9] }} 
    {% if spell[5] == 1 %}
        (concentration)
    {% endif %}
    <br>
    casting time: {{ spell[10] }} <br>
    <br>
    {% for para in spell[2] %}
        {{ para }}<br>
    {% endfor %}
</div>
{% endblock content %}